.btn-cart {
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;

  }
  
  .icon-cart {
    width: 24.38px;
    height: 30.52px;
    transition: .2s linear;
  }
  
  .icon-cart path {
    fill: #31493C;
    transition: .2s linear;
  }
  
  .btn-cart:hover > .icon-cart {
    transform: scale(1.2);
  }
  
  .btn-cart:hover > .icon-cart path {
    fill: #001A23;
  }
  
  .btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
  }
  
  .quantity{
    color: #A69CAC;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 14px;    
  }