.description {
    font-family: 'Cascadia Code';
    color: #A69CAC;
    font-size: 15px;
    text-align: justify;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.button1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.svgIcon1 {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon1 path {
    fill: white;
}

.button1:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.button1:hover .svgIcon1 {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.button1::before {
    position: absolute;
    top: -20px;
    content: "Vaciar carrito";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.button1:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

.linkAqui{
    color: #A69CAC;
}

.cartContainer{
    display: flex;
    justify-content: space-around;
}

.detailsOrder{
    margin-top: 70px;
}