.CartBtn {
    width: 160px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #A69CAC;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
}

.detailCounter {
    display: inline-block;
    justify-items: center;
    align-items: center;
    text-align: center;

}

.card__counter-score,
.card__btn {
    font-family: Cascadia Code;
    font-weight: 600;
    font-size: 22px;
    color: var(--main-color);
}

.card__counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px;
    background: #A69CAC;
    border-radius: 50px;
    align-items: center;
    width: 100%;

}

.CartBtn {
    width: 180px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #A69CAC;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
}

.IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #323232;
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: lighter;
    font-size: 16px;
    font-family: coolvetica;
}

.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

.CartBtn:hover .text {
    transform: translate(10px, 0px);
    transition-duration: .5s;
}

.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}

.pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.front {
    display: block;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    background: #323232;
    padding: 8px;
    color: white;
    font-weight: 600;
    font-size: 15px;

}

.pushable:hover {
    filter: brightness(110%);
}


.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.addToCart{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}