footer {
    background-color: #13112d;
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: Cascadia Code;
    margin-top: 40px;

}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}