footer {
    background-color: #13112d;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: absolute;
    font-family: Cascadia Code;

}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}