@font-face {
  font-family: coolvetica;
  src: url(../fonts/coolvetica.otf);
}

.card {
  --main-color: #fff;
  --bg-color: #161B33;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  padding: 20px;
  width: 320px;
  background: var(--bg-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__back svg,
.card__menu svg {
  width: 20px;
  height: 20px;
}

.card__img {
  background: transparent;
  border-radius: 20%;
  align-items: center;
  text-align: center;

}

.card__title {
  font-size: 20px;
  color: var(--main-color);
  text-align: center;
  font-family: cascadia code;
  margin-bottom: 40px;
}

.card__price {
  font-weight: 600;
  font-size: 30px;
  color: var(--main-color);
  text-align: center;
  font-family: cascadia code;
  font-weight: 550;
}



.vm {
  width: 160px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #A69CAC;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
}

.textvm{
  color: #323232;
  font-weight: lighter;
  font-family: coolvetica;
  font-size: 16px;
  text-decoration: none;
}

.vm:active {
  transform: scale(0.95);
  transition-duration: .5s;
  text-decoration: none;
}

.vmCont{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.itemBox{
  margin: 15px;
  transition: all .4s;
  border-radius: .5rem 2rem;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
  height: min-content;
  position: relative;
  
}

.itemBox:hover {
  transform: scale(1.03);
}

.image{
  border-radius: 50px;

}