body {
    margin: 0;
}	

@font-face {
  font-family: TheNature;
  src: url(../fonts/TheNatures.ttf);
}

.nav {
    background-color: #94A794;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    height: 100px;
    position: relative;
}

.img{
  margin-left: 10%;
}

.title{
    margin-left: 10px;
    color: #31493C;
    font-family: TheNature;
    font-size: 50px;
    letter-spacing: 5px;
    

}

.navigator{
  margin-left: auto;
  margin-right: 10%;
}

.navigator a{
    padding: 10px;
    color: #31493C;
    font-size: 18px;
    text-decoration-line: none;
    font-weight: bold;
    
}

.navigator a:hover{
    color: #001A23;
}


a {
    font-size: 18px;
    color: #2D2A32;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  a:focus,
  a:hover {
    color: red;
  }
  
  a:focus:after,
  a:hover:after {
    width: 100%;
    left: 0%;
  }
  
  a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #001A23;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }